html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    /* background-color: navajowhite; */
    background-image: url(https://images.unsplash.com/photo-1535700454243-9a953c87cd47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); 
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* h1 {
    font-family: 'Impact';
    font-size: 60px !important;
    color: goldenrod;
  } */

  h2 {
    font-family: 'Bangers', cursive;
    font-size: 42px;
    color: goldenrod;
    margin-top: 10px;
    

  }
  
  canvas {
    background-color: darkgrey;
    width: 100%;
    height: 100%;
  }
  
  #container {
  max-width: 50em;
  /* height: 70vh; */
  background-color: indigo;
  margin: auto;
  margin-top: 75px;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 70px 450px 70px;
  grid-template-columns: 75px 600px 100px;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "btm-left center btm-right";
  border: 5px solid goldenrod;
  border-radius: 10px;
  }
  
  /* #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    
  } */
  
  #top-left {
    grid-area: top-left;
    width: 800px;
    background-color: #F5FFFA;
    border: 3px solid goldenrod;
    border-radius: 10px;
    
  }
  
  /* #top-right {
    grid-area: top-right;
    margin-top: 600px;
    margin-left: -1000px;
    background-color: red !important;
    /* background-image: url('../img/funky-lines.png'); */
  /* } */ 
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    width: 100px;
    height: 60px;
    margin-left: 140px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #F5FFFA;
    border: 3px solid goldenrod;
    
    

    /* background-color: #222; */
  }
  
  #btm-right {
    grid-area: btm-right;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 30px;
    background-color: #F5FFFA;
    border: 3px solid goldenrod;
   
    
    /* background-color: #222; */
  }

  #paddle {
      color: red;
      margin: 0 auto;
  }

  #gg {
    color: #F5FFFA;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
    font-size: 80px;
    font-family: 'Bangers', cursive;

  }

  #scorediv {
    grid-area: btm-left;
    width: 100px;
    height: 75px;
    margin-left: 150px;
    margin-top: 30px;
    color: goldenrod;
    font-size: 30px;
    margin-left: 30px;
    font-family: Impact;
  }

  #gamestart {
    cursor: pointer;
    font-family: 'Bangers', cursive;
    font-size: 32px;
    color: goldenrod;
  }


  #score {
    font-family: 'Bangers', cursive;
    font-size: 38px;
    color: goldenrod;
  }

  #ball {
    color:red !important;
  }